<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Caissier
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-grid class="justify-center">
      <ion-text>Barcode Scanner Cashier</ion-text>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/sandwich.jpg" />
    <ion-card-content>
      <ion-text>
        <h3>Veuillez scanner le QR Code du client.</h3>
        <h4>Les informations concernant la commande s'afficheront plus bas</h4>
      </ion-text>

      <ion-button color="primary" expand="full" (click)="scan()">Scanner</ion-button>
    </ion-card-content>
  </ion-card>

  <div *ngIf = "order">
    <div class = "orderId">
      <h2>Commande N#{{order.id}}</h2>
    </div>

    <div class = "orderClient">
      <h3>Balance : {{order.client.balance}}€</h3>
    </div>

    <div class = "orderBtn">
      <ion-button color="success" expand="full" (click)="confirm()">Confirmer</ion-button>
    </div>
  </div>


  
</ion-content>